<div class="row">
  <div class="col-md-6">
    {{ form.candidate_name }}
  </div>
  <div class="col-md-6">
    {{ form.mobile_number }}
  </div>
   <div class="col-md-6">
    {{ form.candidate_mail }}
  </div>
   <div class="col-md-6">
    {{ form.candidate_age }}
  </div>
   <div class="col-md-6">
    {{ form.candidate_gender }}
  </div>
  {% for i in range(0, 3) %} {{ i }}, {% endfor %}
  {{ dump(user) }}
</div>
